name: build
# Trigger the workflow on push or pull request
on:
  push:
  pull_request:
jobs:
  test:
    defaults:
      run:
        working-directory: ./
    runs-on: ubuntu-latest
    steps:
      # The branch or tag ref that triggered the workflow will be checked out.
      - uses: actions/checkout@v1
      # Setup a flutter environment.
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter test --coverage
